<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

      <div class="container" style="display: inline-flex">
      <div class="paddingClass">
        <img routerLink="/login" routerLinkActive="active" src="assets/images/login.jpg" class="imgiconClass">    
      </div>
        <img routerLink="/menu" routerLinkActive="active" class="logoClass" src="assets/images/logo.jpg" >
      <div class="paddingClass">  
        <img routerLink="/signup" routerLinkActive="active" src="assets/images/signup.jpg" class="imgiconClass">
      </div>
      </div>
    <h3 class="mat-elevation-z4" (click)='openTest()'>CUT-HUT</h3>
</div>