<div style="margin-top: 10px;background-color: rgba(252, 249, 66, 0.733)">
    <img src="{{dishModal.avatar.pic}}" style="margin-left: 25%">  
    <div>
      <div style="margin-left: 22%">
        <a>Rating:{{dishModal.avatar.rating}}</a>
        <a>  Rank:{{dishModal.avatar.rank}}</a>
      </div>
      <div style="margin-left: 40%;font-family: cursive">
        <a>{{dishModal.avatar.name}}</a>
      </div>
    </div>
    <aside style="text-align: center;font-family: cursive">{{dishModal.avatar.desc}}</aside>
</div>
 