<mat-card class="container">
  <h1 routerLink="/dashboard" routerLinkActive="active" class="loginLogoCLass">Login Here!</h1>
  <img class="imgClass" src="assets/images/baseavt.jpg">
  <mat-card class="loginContainer">
    <form [formGroup]="loginForm" novalidate>
      <div>
        <mat-input-container>
        <input matInput type="email" class="form-control" formControlName="email" placeholder="Email id" required>
        </mat-input-container>
      </div>
      <div>
        <mat-input-container>
          <input matInput type="password" class="form-control" formControlName="password" placeholder="Password" required>
        </mat-input-container>
      </div>
      <div>
        <a class="forgotClass">
          <u>Forgot passsword</u>
        </a>
      </div>
      <div class="spaceClass">
        <button  type="submit" [disabled]="!loginForm.valid" mat-button style="background-color: rgba(255, 68, 0, 0.774)">Login</button>
      </div>
    </form>
    <div style="margin-top: 0px;">
      <a class="termsClass">
        <u>Terms and Policies</u>
      </a>
    </div>
  </mat-card>
</mat-card>