<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div>
      <img class="logoClass" src="assets/images/logo.jpg" >
      <h3 class="mat-elevation-z4">INFO COLLECT</h3>
  </div>

  <div>
    <mat-grid-list  cols="4" rowHeight="150px">
      <mat-grid-tile class="container2" *ngFor="let dish of dishes">
        <img src={{dish.image}} class="imgClass" alt={{dish.name}}>
        <mat-grid-tile-footer class="container3">
          <h4 mat-line>{{dish.name | uppercase}}</h4>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>