<mat-card class="container">
  <h1 class="loginLogoCLass">Signup Here!</h1>
  <img class="imgClass" src="assets/images/baseavt2.jpg">
  <mat-card class="loginContainer">
    <form [formGroup]="signupForm" novalidate>
      <div class="spaceClass">
        <mat-input-container>
          <input matInput class="form-control" formControlName="name" placeholder="Username" required>
        </mat-input-container>
      </div>
      <div>
        <mat-input-container>
          <input matInput class="form-control" formControlName="email" placeholder="Email id" required>
        </mat-input-container>
      </div>
      <div>
        <mat-input-container>
          <input matInput class="form-control" formControlName="password" type="password" placeholder="Password" required>
        </mat-input-container>
      </div>
      <div>
        <mat-input-container>
          <input matInput class="form-control" formControlName="confpass" type="password" placeholder="Confirm Password" required>
        </mat-input-container>
      </div>
      <div class="spaceClass">
        <button type="submit" [disabled]="!signupForm.valid" mat-button style="background-color: rgba(255, 68, 0, 0.774)">Signup</button>
      </div>
      <div style="margin-top: 8px;">
        <mat-checkbox class="form-control" formControlName="accepted" required>
        </mat-checkbox>
        <a>
          <u class="termsClass">Terms and Policies</u>
          <a style="font-size: 11px;">accepted</a>
        </a>
      </div>
    </form>
  </mat-card>
</mat-card>
<!-- {{ signupForm.value | json }} -->