<mat-card class="container">
  <h1 class="loginLogoCLass">Signup Here!</h1>
  <img class="imgClass" src="assets/images/baseavt2.jpg">
  <mat-card class="loginContainer">
    <div class="spaceClass">
      <a>Username  : </a><input type="text" spellcheck="false">
    </div>      
    <div class="spaceClass">
      <a>Email Id  : </a><input type="email" spellcheck="false">
    </div>      
    <div class="spaceClass">
      <a>Password : </a><input type="password" spellcheck="false">
    </div>
    <div class="spaceClass">
      <a>Confirm Password : </a><input type="password" spellcheck="false">
    </div>
    <div class="spaceClass">
      <button mat-button>Signup</button>
    </div>
  </mat-card>
</mat-card>