<div class="example-container" style="min-height: 350px;padding-left: 20px;padding-right: 20px">  
        <app-side-menu></app-side-menu>

        <div style="margin-top: 40px;padding-left: 20px;padding-right: 20px">
            <div>
                <mat-input-container>
                    <input type="text" matInput placeholder="Company name" spellcheck="false">
                </mat-input-container>  
            </div>  
                                                              
            <div>
                <mat-input-container>
                    <input type="text" matInput placeholder="Designation" spellcheck="false">
                </mat-input-container>  
            </div>              
            <div>
                <mat-input-container>
                    <input type="text" matInput placeholder="Previous company" spellcheck="false">    
                </mat-input-container>
            </div>
        
        </div> 
<div>

<div style="padding-left: 20px;padding-right: 20px"> 
<mat-input-container>
    <input type="number" matInput placeholder="Highest Education" spellcheck="false">
</mat-input-container>  

<mat-input-container>
    <input type="text" matInput placeholder="Current Location" spellcheck="false">
</mat-input-container>  
</div>
</div>

<div style="margin-top: 15px;margin-bottom: 15px;padding-left: 20px;padding-right: 20px">
        <button mat-button style="background-color: rgb(239, 243, 14)">Submit</button>
        <button mat-button style="background-color: rgb(239, 243, 14)">Cancel</button>
        <button mat-button style="background-color: rgb(239, 243, 14); align-items: right">Reset</button>
</div>

</div>  